.Container {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
}

.Nav {
  padding: 20px 0; /* 상단과 하단 여백을 한 번에 설정 */
justify-content: center space-between;
}

.nav-link-home {
  color: red !important ;/* 비활성화된 링크의 텍스트색 */
  font-family: fantasy !important;
}

.nav-link {
  color: red !important ;/* 비활성화된 링크의 텍스트색 */
  font-family: fantasy !important;

  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  padding-left: var(--bs-navbar-nav-link-padding-x) !important;
  padding-right: var(--bs-navbar-nav-link-padding-x) !important;

}


.active-link {
  color: transparent ; /* 마우스 호버시 아이콘 색상 변경 */
  background-color: red;
  color: #fff;
  border-radius: 10%;
  padding: 5px;

  
}
/* 호버 효과 */
.icon:hover {
  color: transparent; /* 마우스 호버시 아이콘 색상 변경 */
  background-color: red;
  color: #fff;
  border-radius: 10%;
  padding: 5px; /* 아이콘 주위의 여백 */

  /* 다른 스타일 추가 가능 */
}

.active-link:hover {
  background-color: transparent; /* 마우스를 올렸을 때 배경색 변경 */
  color: #FF0000; /* 마우스를 올렸을 때 텍스트색 변경 */
  border-radius: 10px; /* border-radius에 !important 사용하지 않음 */
}

.nav-dropdown-item {
  
  font-size: 16px;
  color: #333;
  width: fit-content;
 
}

