.board-container {
    margin-top: 20px;
    background-color: #ffe6ed;
    padding: 20px;
    border-radius: 10px;
  }
  
  .board-title {
    text-align: center;
    color: white;
  }
  
  .board-input-area {
    margin-bottom: 10px;
  }
  
  .board-input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .board-button {
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .board-post {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .board-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .board-post h3 {
    font-size: 18px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
  }
  
  
  .post-info {
    display: flex;
    justify-content: flex-end;
  }
  
  .post-time {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
  }
  
  .report-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline;
    color: inherit;
  }

  .profile-img-min {
    border-radius: 15%;
    width: 80px; 
    height: 80px; 
    margin-bottom: 10px;
  }

  .user-ul {
  display: flex;
  flex-wrap: wrap;
}

.board_post {
  width: 15%;
  margin: 2.5% 2.5%; /* 좌우에 2.5%의 마진을 추가하여 간격을 조정 */
  display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
background-color: white;
padding: 10px;
margin-bottom: 10px;
border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .board_post {
    width: 30%; /* 화면이 작을 때 너비 조정 */
  }
}

@media screen and (max-width: 768px) {
  .board_post {
    width: 45%; /* 더 작은 화면일 때 너비 조정 */
  }
}

@media screen and (max-width: 480px) {
  .board_post {
    width: 90%; /* 아주 작은 화면일 때 너비 조정 */
  }
}