.loginForm {
    padding: 20px 50px;
    margin: 100px auto;
    width: 50%;
    min-width: 400px;
    border-radius: 30px;
    background-color: transparent;
    color: #575757;
    
}

.loginButton {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 25px !important;
    background-color: transparent !important;
    border-color: #575757 !important;
    color: #575757 !important;
}

.loginButton:hover {
    background-color: #575757 !important;
    color: #ffffff !important;
}

.loginButton:focus {
    outline: none !important; /* 포커스 표시 제거 */
    cursor: pointer !important; /* 커서 속성 추가 */
}